logs/*
JvS Data Aquisition Application/logs/*
ILTM_V3/JvS Data Aquisition Application/__pycache__/*
JvS Data Aquisition Application/__pycache__/*
ILTM_V4/JvS Data Aquisition Application/__pycache__/*
ILTM_V4/JvS Data Aquisition Application/__pycache__/Device_Manager.cpython-314.pyc
